*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000044;
}
h1,
button {
  font-family: 'Jersey 15', cursive;
}

h1 {
  color: #eeeeee;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 0.5rem;
}

button:not(.simon-button) {
  font-size: 1.1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #eeeeee;
}

button:not(.simon-button):hover {
  opacity: 0.5;
  cursor: pointer;
}

#app {
  width: min(50rem, 100%);
  height: 100vh;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  place-items: center;
  place-content: center;
  width: min(40rem, 98%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.level {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

.simon-button {
  width: min(22rem, 100%);
  height: 11rem;
  border-radius: 10%;
  border: 10px solid;
  background-color: var(--color);
  cursor: pointer;
}

.simon-button.active {
  transform: scale(0.85);
}

.start,
.restart {
  position: absolute;
  bottom: 2%;
  width: min(28rem, 95%);
  left: 50%;
  transform: translate(-50%);
}

.start {
  background-color: #1252ee;
  color: #eeeeee;
}

.restart {
  background-color: #4552ee;
  color: #eeeeee;
}

.none {
  display: none;
}

.game-over {
  background-color: #ee1255;
  opacity: 0.6;
}
